body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: white;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}
/*****************bootstrap modify******************/
/* color: var(--bs-blue) */
.text-green{
    color: #04fb0c !important;
}
.text-yellow {
    color: #ffff00 !important;
}
.text-orange{
    color: #fd7e14 !important;
}
.bg-green{
    background:#27ff03 !important;
}
.border-green{
    border-color: #27ff03 !important;
}
.border-yellow {
    border-color: #ffff00 !important;
}
.border-orange{
    border-color: #fd7e14 !important;
}
.border-gray{
    border-color: #666 !important;
}

/*==================header=================*/
.title{
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    margin-bottom: 0;
}
.description{
    font-family: 'Noto Serif', serif;
    font-size:18px;
    margin-bottom:0px;
}
.subtitle{
    font-family: 'Noto Serif', serif;
    margin-bottom: 10px;
}
.help i{
    border-color: #27ff03 !important;
    padding: 5px;
    margin: 5px;
}
.help i:first-child{
    width: 50px;
    height: 35px;
}
.help i:last-child{
    width:38px;
    height:38px;
}
/*****************content*****************/
.left-side .cell{
    height:78px;
    padding-top:8px;
}
.left-side h1{
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    margin: auto;
    font-size:50px;
    text-align: center;
    color:var(--bs-gray);
}
.left-side h1 sub{
    font-size:20px;
}

.middle-side h1{
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    margin: auto;
    font-size:50px;
    padding:0px 0;
    color:#fff;
}
.middle-side h1 sub{
    font-size:20px;
    color: #fff;
}
.middle-side h2{
    font-size:40px;
    padding: 5px 0;
    margin: 0;
    color: #fff;
}
.right-side .cell{
    height:65px;
}
.right-side h1{
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    margin: auto;
    font-size:50px;
    padding:0;
    text-align: center;
    color:var(--bs-gray);
}
.right-side h1 sub{
    font-size:20px;
}
.result{

}
.result div[class*='result-']{
    border-radius:10px !important;
    margin-top:5px;
}
.result-letters{
    width: 50%;
    margin: auto;
}
.result-dot{
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.result-joined{
    width: 75%;
    margin: auto;
}
.result-words{

}
.result h3{
   padding:10px 0;
}
.result i{
    line-height:0px;
    margin: 0;
}
/****************footer****************/
.sentence{
    font-family: 'Noto Serif', serif;
}

.sentence span{
    display: inline-block;
    border: 2px solid  #fff;
    padding:5px 10px;
    border-radius:10px 0px 0px 10px;
    border-right: 0;
}
.sentence .next{
  background:#00b050 !important;
  border:2px solid #ffff00 !important;
  border-radius: 0 10px 10px 0;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Noto Serif', serif;
}

    

/***************modal*****************/
.btn-close{
    position: absolute;
    top:1px;
    right:1px;
    border:1px solid #000 !important;
    z-index: 1;
}
.list-group-flush > .list-group-item {
    border-width: 0 0 1px;
    font-family: 'Inter', sans-serif;
}
.modal-backdrop.show {
    opacity: .8;
}
/********************************/

@media (max-width:991px){
    .container-lg{
        max-width:100%;
    }
    .left-side{
        padding-right:0;
    }
    .left-side h1 {
        font-size: 40px;
        width: 40px;
    }
    .left-side h1 sub{
        font-size:15px;
    }
    .middle-side h2{
        font-size:40px;
        color: #fff;
    }
    .right-side{
        padding-left: 0;
    }
    .right-side h1 {
        font-size: 36px;
        width: 40px;
    }
    .right-side h1 sub{
        font-size:15px;
    }
}

@media (max-width:767px){
    .container-lg{
        max-width:500px;
    }
    .left-side{
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    .left-side h1 {
        font-size:50px;
        width:60px;
    }
    .left-side h1 sub{
        font-size:20px;
    }
    .middle-side h1 {
        font-size:50px;
        width:60px;
    }
    .right-side{
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    .right-side h1 {
        font-size:50px;
        width:60px;
    }
    .right-side h1 sub{
        font-size:20px;
    }
    .sentence span{
        padding:5px 0px;
        border-radius:10px;
        border: 2px solid  #fff;
    }
    .sentence .arrow{
        border-radius:10px;
    }
}